{% extends "index.html" %}

{% load static %}

{% block contenido %}
    <h3>Modem, agregue un item a la BD</h3>
    <form action="formularioModem" method="POST">
        {% csrf_token %}
                       
        <p>Marca:</p>
        <input type="text" name="marca">
        <p>Modelo:</p>
        <input type="text" name="modelo">
        <p>Comunicación:</p>
        <input type="text" name="comunicacion">
        <p>Precio[USD]:</p>
        <input type="float" name="precio">

        <input type="submit" value="Enviar">

    </form>

{% endblock %}
