{% extends "index.html" %}

{% load static %}

{% block contenido %}
<main>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Comunicación</th>
            <th scope = "col">Precio [USD]</th>
          </tr>
        </thead>
        <tbody>
            {% for n in datosModem %}

            <tr>
                <th scope="row">{{n.id}}</th>
                <td>{{n.marca}}</td>
                <td>{{n.modelo}}</td>
                <td>{{n.comunicacion}}</td>
                <td>{{n.precio}}</td>
            </tr>

            {% endfor %}
         
        </tbody>
      </table>

</main>

{% endblock %}
